@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-input {
  border: 1px solid #d1d5db; /* Màu xám nhạt */
  padding: 8px 12px;
  /* border-radius: 4px; */
  outline: none; /* Loại bỏ viền khi focus */
  height: 38px;
}

input:focus {
  border-color: #3b82f6; 
}

input.error {
  border-color: #f87171; /* Màu đỏ */
}

.css-13cymwt-control{
  border-radius: 0.5rem !important;
  border: 1px solid #d1d5db !important; 
  /* height: 40px; */
}

/* .css-hlgwow{
  border-radius: 0.5rem !important;
}
.css-1wy0on6{
  border-radius: 0.5rem !important;
} */
.css-t3ipsp-control{
  border-radius: 0.5rem !important;
  border-color: #d1d5db !important;
}