@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text-input {
  border: 1px solid #d1d5db; /* Màu xám nhạt */
  padding: 8px 12px;
  /* border-radius: 4px; */
  outline: none; /* Loại bỏ viền khi focus */
  height: 38px;
}

input:focus {
  border-color: #3b82f6; 
}

input.error {
  border-color: #f87171; /* Màu đỏ */
}

.css-13cymwt-control{
  border-radius: 0.5rem !important;
  border: 1px solid #d1d5db !important; 
  /* height: 40px; */
}

/* .css-hlgwow{
  border-radius: 0.5rem !important;
}
.css-1wy0on6{
  border-radius: 0.5rem !important;
} */
.css-t3ipsp-control{
  border-radius: 0.5rem !important;
  border-color: #d1d5db !important;
}
.ant-picker{
  height: 38px;
  border-radius: 0.5rem;
  /* border: 1px solid #3b82f6 !important; */
}
.ant-picker:focus{
  border-color: #3b82f6; 
}
.ant-picker-input{
  font-size: 16px !important;
}
.ant-picker-input input{
  font-size: 16px !important;
}
/* input{
  font-size: 14px !important;
}
.css-1dimb5e-singleValue{
  font-size: 14px !important;
} */
.css-3iigni-container div{
  border-radius: 0.5rem !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important;
}

/* Ghi đè style của ô input trong DatePicker */
.ant-picker-disabled{
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1)) !important;
}
.ant-picker-input input[disabled] {
    color: #000 !important;                 /* Màu chữ đen */
}

.css-b62m3t-container{
  height: fit-content;
}

.don-progress .ant-steps-horizontal {
  flex-wrap: wrap; /* Cho phép xuống dòng */
}

.don-progress .ant-steps-item {
  flex: 0 0 25%; 
  max-width: 25%;
}
.don-progress .ant-steps-horizontal {
  flex-wrap: wrap;
  row-gap: 8px;     
  column-gap: 12px; 
  justify-content: center; 
}

.don-progress .ant-steps-item {
  flex: 1 1 auto; /* Cho phép các bước co giãn linh hoạt */
  min-width: 100px; /* Giới hạn tối thiểu chiều rộng mỗi bước */
}

.don-progress .ant-steps-item-title {
  white-space: normal !important; /* Cho phép xuống dòng trong tiêu đề */
  text-align: center;
}

.css-hlgwow .css-olqui2-singleValue{
  color: #000 !important;
}

/* Đặt ở file CSS hoặc trong style global */
aside::-webkit-scrollbar {
  width: 2px; /* Chiều rộng thanh cuộn dọc */
}

aside::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Màu thanh kéo */
  border-radius: 4px;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
}

.css-1jqq78o-placeholder{
  color: #888888 !important; /* Màu xám nhạt */
}
tr{
  line-height: 1rem; /* Khoảng cách dòng */
}
th{
  text-align: left !important;
}
td{
  text-align: left !important;
}